<div class="container">
    <h2 class="text-muted">{{'CONSULTOR.TITLE' | translate}} | <small>{{'CONSULTOR.DESCRIPTION' | translate}}</small></h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
              <div *ngFor="let consultor of consultants" >
                  <a href="javascript:void(0)" class="list-group-item" [class.active]="consultor.selected == true">
                      <h4 class="list-group-item-heading" (click)="toggle(consultor)">{{consultor.no_usuario}}</h4>
                  </a>
              </div>
            </div>
        </div>

        
    
        <div class="col-sm-3">
          <div class="col-sm">
            <h4 class="text-muted">{{'CONSULTOR.SINCE' | translate}}</h4>
          </div>
          <div class="col-sm">
              <div class="form-group">
                  <div class="form-group">
                      <label>{{'CONSULTOR.MONTH' | translate}}</label>
                      <select (change)="setSinceUntil('since','month',$event.target.value)" class="form-control">
                          <option value="-1">--</option>
                          <option value="01">{{'JAN' | translate}}</option>
                          <option value="02">{{'FEB' | translate}}</option>
                          <option value="03">{{'MAR' | translate}}</option>
                          <option value="04">{{'APR' | translate}}</option>
                          <option value="05">{{'MAY' | translate}}</option>
                          <option value="06">{{'JUN' | translate}}</option>
                          <option value="07">{{'JUL' | translate}}</option>
                          <option value="08">{{'AUG' | translate}}</option>
                          <option value="09">{{'SEP' | translate}}</option>
                          <option value="10">{{'OCT' | translate}}</option>
                          <option value="11">{{'NOV' | translate}}</option>
                          <option value="12">{{'DEC' | translate}}</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="col-sm">
              <div class="form-group">
                  <label>{{'CONSULTOR.YEAR' | translate}}</label>
                  <select (change)="setSinceUntil('since','year',$event.target.value)" class="form-control">
                      <option value="-1">--</option>
                      <option value="2003">2003</option>
                      <option value="2004">2004</option>
                      <option value="2005">2005</option>
                      <option value="2006">2006</option>
                      <option value="2007">2007</option>
                  </select>
              </div>
          </div>
        </div>

        <div class="col-sm-3">
            <div class="col-sm">
              <h4 class="text-muted">{{'CONSULTOR.UNTIL' | translate}}</h4>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <div class="form-group">
                        <label>{{'CONSULTOR.MONTH' | translate}}</label>
                        <select (change)="setSinceUntil('until','month',$event.target.value)" class="form-control">
                            <option value="-1">--</option>
                            <option value="01">{{'JAN' | translate}}</option>
                            <option value="02">{{'FEB' | translate}}</option>
                            <option value="03">{{'MAR' | translate}}</option>
                            <option value="04">{{'APR' | translate}}</option>
                            <option value="05">{{'MAY' | translate}}</option>
                            <option value="06">{{'JUN' | translate}}</option>
                            <option value="07">{{'JUL' | translate}}</option>
                            <option value="08">{{'AUG' | translate}}</option>
                            <option value="09">{{'SEP' | translate}}</option>
                            <option value="10">{{'OCT' | translate}}</option>
                            <option value="11">{{'NOV' | translate}}</option>
                            <option value="12">{{'DEC' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label>{{'CONSULTOR.YEAR' | translate}}</label>
                    <select (change)="setSinceUntil('until','year',$event.target.value)" class="form-control">
                        <option value="-1">--</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                    </select>
                </div>
            </div>
          </div>  
    </div>
    
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
                <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <button (click)="getData(0)" type="button" class="btn btn-lg btn-primary">{{ 'GET.DATA0' | translate}}</button>
                            <button (click)="getData(1)" type="button" class="btn btn-lg btn-primary">{{ 'GET.DATA1' | translate}}</button>
                            <button (click)="getData(2)" type="button" class="btn btn-lg btn-primary">{{ 'GET.DATA2' | translate}}</button>
                        </div>
                        
                    </div>
        </div>
    </div>
    
    
    <ng-container *ngIf="type == 1">
        <div *ngFor="let resume of data; let i = index">
            <div class="card mb-3">
                <div class="card-header">{{resume.no_usuario}}</div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>{{'CONSULTOR.PERIOD' | translate }}</th>
                        <th>{{'CONSULTOR.LIQUID' | translate }}</th>
                        <th>{{'CONSULTOR.SALARY' | translate }}</th>
                        <th>{{'CONSULTOR.COMISSION' | translate }}</th>
                        <th>{{'CONSULTOR.PROFIT' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of resume.resume.monthly">
                        <th scope="row">{{row.date}}</th>
                        <td> R$ {{row.neto}}</td>
                        <td>- R$ {{row.salario}}</td>
                        <td>- R$ {{row.comision}}</td>
                        <td> R$ {{row.lucro}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Saldo</th>
                        <td>R$ {{resume.resume.totals.totalNeto}}</td>
                        <td>R$ {{resume.resume.totals.totalSalario}}</td>
                        <td>R$ {{resume.resume.totals.totalComision}}</td>
                        <td>R$ {{resume.resume.totals.totalLucro}}</td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="type == 0">
        <div class="card mb-3">
            <div class="card-header">
                {{'GET.DATA0' | translate }}
            </div>
            <div class="card-body">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>    
    </ng-container>

    <ng-container *ngIf="type == 2">
        <div class="card mb-3">
            <div class="card-header">
                {{'GET.DATA2' | translate}}
            </div>
            <div class="card-body">
                <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType">
                </canvas>
            </div>
        </div>    
    </ng-container>
    
      
    <!-- <div class="card mb-3">
        <div class="card-header">
            Bar Chart
        </div>
        <div class="card-body">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
        </div>
        <div class="card-footer">
            <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
        </div>
    </div>     -->
</div>
